
.wrapper {width:100%; height:100%;margin:0 auto;background:#CCC}
.iframeHolder .ratio {display:block;width:100%;height:auto;}
.iframeHolder iframe {position:absolute;top:0;left:0;width:100%; height:100%;}